<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="container todo">
            <h1>LisToDo</h1>
            <div class="todo__input">
                <input type="text" id="todoInput" placeholder="Type a text..." >
            </div>
            <div class="todo__list" id="todoList">
                <ul>
                </ul>
            </div>
            <a href="/about" class="todo__about">About</a>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>